<div style="width: 100%; display: flex; gap: 1rem;">
  <button nx-button nxVariant="primary" nxSize="large"> Nx Button </button>
  <button nx-button nxVariant="primary" nxShape="round" nxSize="large"> Nx Button </button>
  <button nx-button nxVariant="secondary" nxShape="round" nxSize="large"> Nx Button </button>
  <button nx-button nxVariant="danger" nxSize="small"> Nx Button </button>
  <button nx-button nxVariant="outline" nxShape="round" nxSize="large"> Nx Button </button>
  <button nx-button nxVariant="ghost" nxShape="round" nxSize="large"> Nx Button </button>
  <button nx-button nxVariant="link" nxShape="round" nxSize="large"> Nx Button </button>

</div>

<router-outlet />
